.git
.turbo
.artifacts
node_modules
**/node_modules
dist
**/dist
out
**/out
.next
**/.next
*.log
.DS_Store
.env
.env.*
!.env.example
playwright-report
**/playwright-report
test-results
**/test-results
